*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root {
  --bg-color: blue, cyan;
  --text-size: 1.5rem;


}

body {
  background: linear-gradient(270deg, var(--bg-color));
}

header {
    border: 3px solid black;
    background-color: rgb(89, 155, 248);
    display: grid;
    place-items: center;
    height: 100px;
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
    font-style: normal;
}

nav dir ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav dir ul li {
    margin: 0 10px;
}

nav dir ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;

}

nav dir ul li:hover {
    background-color: #ffffff;
    transition-duration: .3s;
}

section {
    background-color: rgb(81, 125, 246);
    margin: 10px 10px;
    border: 5px solid rgb(0, 0, 0);
    font-family: "Cabin", sans-serif;

}

section h2 {
    text-align: center;
    
}

section p {
    margin: 10px;
}

section ul li {
    margin: 10px auto;
    list-style: none;
}

p {
  font-size: var(--text-size);
  text-align: center;
  margin: auto;
}
.iconos {
  display: block;
  margin: auto;
}

/*clases del index*/
.contenedor {
    display: flex;
    justify-content: center;
}

.logo {
    border-radius: 50px;
    border: 10px solid black
}

.barra-navegacion{
    text-align: center;
}

.redes {
    display: flex;
    justify-content: center;
}



/*clases de Trabajos*/

.imgTrabajos {
  display: block;
  margin: auto;
  border: black solid;
}

/*clases de recomendaciones*/


/* From Uiverse.io by vinodjangid07 */ 
.card {
  width: fit-content;
  height: fit-content;
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}











